header {
  display: flex;
  align-items: center;
  height: 40px;
  background: $main;
  width: 100%;
  justify-content: space-between;
  color: #fff;
  .header-logo {
    display: flex;
    align-items: center;
    .el-image {
      margin-left: 24px;
    }
  }
}
